.postcard-footer {
	-webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 0 84px;
    -ms-flex: 0 0 84px;
    flex: 0 0 84px;
    z-index: 10;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

	.copyright {
		padding-bottom: 15px;

		p {
			color: #fff;
			opacity: .3;
			font-size: 10px;
			margin: 0;
			line-height: 12px;
		}
	}
	
	.sharing {
		padding-bottom: 10px;
	}
}
